.message {
    display: flex;
    padding: 11px;
    border-bottom: 1px solid var(--gray-dark);
    width: 334px;
}

.message__avatar {
    width: 79px;
    height: 79px;
    flex-shrink: 0;
    border: 3px solid #fff;
    border-radius: 50%;
    order: 2;
}

.message__text {
    margin: 0 10px 0 11px;
    padding: 7px 6px 8px 8px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 14px;
    word-spacing: -1px;
    width: 212px;
    word-wrap: break-word;
}

.message_second_user {
    background-color: var(--gray-dark);
}

.message_second_user .message__avatar {
    order: -1;
}
