.main__section {
    padding: 16px 21px;
}

::-webkit-scrollbar {
    background: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #2589cc;
}

.main__messages_wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.main__textarea {
    resize: vertical;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
}

.main__button {
    width: 100%;
    background-color: var(--blue);
    border: none;
    padding: 12px;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 42px;
}

.main {
    position: relative;
}