.main__loading_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bccfff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_screen__icon {
    font-size: 100px;
    color: white;
    animation-name: iconRotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    height: 100px;
}

.loading_screen__text {
    text-align: center;
    padding: 0 10px;
    margin-top: 100px;
}

@keyframes iconRotation {
    0% {
        font-size: 150px;
    }

    50% {
        font-size: 200px;
    }

    100% {
        font-size: 150px;
    }
}